*,
::before,
::after {
    box-sizing: border-box;
    text-decoration: none;
    padding: 0px;
    margin: 0px;
    font-family: 'Times New Roman', Times, sans-serif;
}

/* HEADER */

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #1f2937;
    color: whitesmoke;
}

header div {
    padding: 10px;
}

header a {
    color: whitesmoke;
    margin: 0px 10px;
}

.logo {
    font-size: 24px;
    color: #f9faf8
}

/* MAIN ONE */

.main-one {
    background-color: #1f2937;
    color: white;
    display: flex;
    margin: 0px auto;
}

.main-one div {
    max-width: 40%;
    margin: 100px auto
}
img {
    max-width: 100%;
}

.main-one p {
    color: #e5e7eb;
    font-size: 18px;
}

.main-one button {
    margin: 8px 0px;
    padding: 6px 16px;
    border-radius: 10px;
    background-color: #3882f6;
    color: #f9faf8;
    font-size: 16px;
    font-weight: bold;
}

h1 {
    color: #f9faf8;
    font-weight: 1200;
    font-size: 48px;
}

/* MAIN TWO */

.main-two {
    margin: 30px auto;
    text-align: center;
}

.main-two h2 {
    margin: 5vh auto;
}

.main-two div {
    margin: 0px auto;
    padding: 0px 5px;
}

.main-two-content-container {
    max-width: 80%;
    display: flex;
    justify-content: space-around;
}

.main-two img {
    max-width: 20vw;
    border-radius: 10px;
}

/* MAIN THREE */

.main-three{
    background-color: #e5e7eb;
    padding: 10vh;
}

.quote-container{
    margin: 10px auto;
    max-width: 60vw;
}

.quote-container > div:nth-child(1) {
    font-size: 36px;
    color: #1f2937;
    font-style: italic;
    font-weight: lighter;
}

.quote-container > div:nth-child(2) {
    font-size: 24px;
    color: #1f2937;
    font-style: italic;
    font-weight: bolder;
    text-align: end;
    padding: 10px 20px;
}

.main-four {
    background-color: #3882f6;
    color: #e5e7eb;
    max-width: 80vw;
    margin: 10vh auto;
    padding: 15px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button-container {
    flex-shrink: 0;
    margin:0px 10px;
}


.button-container button {
    padding: 2px 5px;
    background-color: #3882f6;
    color: #e5e7eb;
    border: solid 1px;
    border-radius: 4px; 
}

.footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #1f2937;
    color: white;
    text-align: center;
    padding: 20px;
}